<body>
    <app-loading *ngIf="loading"></app-loading>
    <div class="container" *ngIf="!loading">
        <h3>Editar Educación</h3>
        <form class="m-5" [formGroup]="form" (ngSubmit)="editarEducacion($event)">
            <div class="form-group">
                <label for="exampleInputInstituto">Instituto</label>
                <input type="text" class="form-control" id="instituto" name="instituto" formControlName="instituto"
                [ngClass]="{'is-invalid' : Instituto?.errors && Instituto?.touched, 'is-valid' : !Instituto?.errors && Instituto?.touched}">
                <span *ngIf="Instituto?.errors && Instituto?.touched" class="text-danger">El nombre del Instituto es requerido</span>
            </div>
            <div class="form-group">
                <label for="exampleInputTitulo">Título</label>
                <input type="text" class="form-control" id="titulo" name="titulo" formControlName="titulo"
                [ngClass]="{'is-invalid' : Titulo?.errors && Titulo?.touched, 'is-valid' : !Titulo?.errors && Titulo?.touched}">
                <span *ngIf="Titulo?.errors && Titulo?.touched" class="text-danger">Ingrese el título</span>
            </div>
            <div class="form-group">
                <label for="exampleInputInicio">Inicio</label>
                <input type="date" class="form-control" id="inicio" name="inicio" formControlName="inicio"
                [ngClass]="{'is-invalid' : Inicio?.errors && Inicio?.touched || !validarFechaActual(form.value.inicio), 'is-valid' : !Inicio?.errors && Inicio?.touched}"
                [value]="form.value.inicio | date:'yyyy-MM-dd'">
                <span *ngIf="Inicio?.errors && Inicio?.touched" class="text-danger">Ingrese la fecha en que inicio a trabajar</span>
                <span *ngIf="!validarFechaActual(form.value.inicio)" class="text-danger">La fecha ingresada no puede superar a la actual</span>
            </div>
            <div class="form-group">
                <label for="exampleInputFin">Fin</label>
                <input type="date" class="form-control" id="fin" name="fin" formControlName="fin"
                [ngClass]="{'is-invalid' : !validarFechaActual(form.value.fin) || !validarFechas()}"
                [value]="form.value.fin | date:'yyyy-MM-dd'">

                <span *ngIf="!validarFechaActual(form.value.fin)" class="text-danger">La fecha ingresada no puede superar a la actual</span>
                <span *ngIf="!validarFechas()" class="text-danger">La fecha actual no puede ser menor a la de inicio</span>
            </div>
            
            <button type="button" (click)="volverHome()" class="btn btn-danger">Cancelar</button>
            <button type="submit" [disabled]="!Validacion || mostrarSpinner" class="btn btn-success">Guardar cambios</button>
            <br>
            <br>
            <div class="row justify-content-center align-items-center minh-100">
                <div *ngIf="mostrarSpinner" class="spinner-grow text-muted"></div>
            </div>

        </form>
    </div>
</body>