<body>
    <div class="container">
        <form class="m-5" [formGroup]="form" (ngSubmit)="agregarProyecto($event)">
            <div class="form-group">
                <label for="exampleInputInstituto">Titulo</label>
                <input type="text" class="form-control" id="titulo" name="titulo" formControlName="titulo">
            </div>
            <div class="form-group">
                <label for="exampleInputTitulo">Descripcion</label>
                <input type="text" class="form-control" id="descripcion" name="descripcion" formControlName="descripcion">
            </div>
            <div class="form-group">
                <label for="exampleInputTitulo">Link a Repositorio</label>
                <input type="text" class="form-control" id="linkRepositorio" name="linkRepositorio" formControlName="linkRepositorio">
            </div>
            <div class="form-group">
                <label for="exampleInputInicio">Inicio</label>
                <input type="date" class="form-control" id="inicio" name="inicio" formControlName="inicio">
            </div>
            <div class="form-group">
                <label for="exampleInputFin">Fin</label>
                <input type="date" class="form-control" id="fin" name="fin" formControlName="fin">
            </div>
            
            <button type="button" (click)="volverHome()" class="btn btn-danger">Cancelar</button>
            <button type="submit" class="btn btn-success">Agregar</button>
        </form>
    </div>
</body>