<main>
    <section class="experiencia-laboral">
        <div class="experiencia-titulo">
            <h5>Proyectos</h5>
            <i (click)="irAPantallaAgregar()" class="button-icon-add fa-solid fa-circle-plus"></i>
        </div>
        <ul>
            <li *ngFor="let proyecto of usuario.proyectos" class="trabajo">
                <div class="experiencia-titulo">
                    <i class="fa-solid fa-diagram-project"></i>
                    <div>
                        <span><strong>{{proyecto.titulo.toUpperCase()}}</strong></span>
                        <p>{{proyecto.descripcion}}</p>
                        <p>{{proyecto.inicio | date: 'y'}} -  {{proyecto.fin ? (proyecto.fin | date:'y') : "Actualidad"}}</p>
                        <a [href]="proyecto.linkRepositorio" target="_blank"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
                <div>
                    <i (click)="eliminarProyecto(proyecto.id)" class="button-icon-remove fa-solid fa-circle-xmark "></i>
                    <i (click)="irAPantallaEditar(proyecto.id)" class="button-icon-edit fa-solid fa-pen-to-square"></i>
                </div>
            </li>
            <hr>
        </ul>
    </section>    
</main>