<body>
    <div class="container">
        <form class="m-5" [formGroup]="form" (ngSubmit)="editarSkill($event)">
            <div class="form-group">
                <label for="exampleInputSkill">Habilidad</label>
                <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre">
            </div>
            <div class="form-group">
                <label for="exampleInputPorcentaje">Porcentaje</label>
                <input type="number" min="1" max="100" class="form-control" id="porcentaje" name="porcentaje" formControlName="porcentaje"
                [ngClass]="{'is-invalid' : Porcentaje?.errors && Porcentaje?.touched, 'is-valid' : !Porcentaje?.errors && Porcentaje?.touched}">
                <div *ngIf="Porcentaje?.errors && Porcentaje?.touched">
                    <p *ngIf="Porcentaje?.hasError('required')" class="text-danger"> El porcentaje es Requerido</p>
                    <p *ngIf="Porcentaje?.hasError('max')" class="text-danger"> El porcentaje no puede superar 100</p>
                    <p *ngIf="Porcentaje?.hasError('min')" class="text-danger"> El porcentaje no puede ser menos de 0</p>
                </div>
            </div>  
            <button type="button"  (click)="volverHome()" class="btn btn-danger">Cancelar</button>
            <button type="submit"  class="btn btn-success" >Editar</button>
        </form>
    </div>
</body>