@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Archivo', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    color: white;

    background-image: url('../../assets/images/fondoLogin.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
}

button {
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.rounded {
    border-radius: 100vh;
}

header {
    height: 5rem;
    margin-bottom: 3rem;
}

nav {
    padding: 1rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    display: block;
    height: 80%;
}

.container {
    padding: 0 5%;
}

form {
    background-color: rgb(55, 61, 97);
    max-width: 24rem;
    margin: 0 auto;
    padding: 2rem 3rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.form-header h2 {
    margin-bottom: .8rem;
}

.form-header p {
    background-color: rgb(55, 61, 97);
    padding: .2rem 1rem;
}

form label {
    margin-bottom: .3rem;
}

form input {
    border-radius: 100vh;
    margin-bottom: 1rem;
    padding: .3rem 1rem;
    border: 2px solid #F2F2F2;
}

form input:focus {
    outline: none;
    border: 2px solid #8a6df1ff;
}

form button{
    background-color: rgb(44, 44, 253);
    color: white;
    padding: .8rem 0;
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: 400;
}

form button:hover{
    background-color: rgb(40, 40, 197);
}

.ingresarA {
    padding: 1rem 0;
    text-align: center;
}

.ingresarA a {
    color: #F2F2F2;
}
.ingresarA a:hover{
    color: rgb(72, 27, 236);
}