<main>
    <footer>        
        <img src="../../../../assets/images/APLogo-20-20.png" alt="Logo ArgentinaPrograma" />
        <p>Producto de Patricio Alloco</p>
        <div class="sociales">
            <a href="https://www.facebook.com/pato.alloco" target="_blank"><i class="fa-brands fa-facebook-square facebook"></i></a>
            <a href="https://github.com/PatoAlloco" target="_blank"><i class="fa-brands fa-github github"></i></a>
            <a href="https://twitter.com/PatoAlloco" target="_blank"><i class="fa-brands fa-twitter twitter"></i></a>
            <a href="https://www.linkedin.com/in/patricio-oscar-alloco-b87659218//" target="_blank"><i class="fa-brands fa-linkedin linkedin"></i></a>
            <a href="https://www.instagram.com/patoalloco/" target="_blank"><i class="fa-brands fa-instagram instagram"></i></a>
        </div>
    </footer>    
</main>