header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1vw;
    height: 5vw;
    background-color: rgb(194, 208, 214);
    margin-bottom: 1vw;    
}
header img{
    height: 3.5vw;
}
header i{
    font-size: x-large;
    color: #676781;
    margin: 0.5vw;
}
header button{
    margin-bottom: 0.5vw;
}
.facebook:hover{
    color: #3b5998;
}
.instagram:hover{
    color: rgb(224, 21, 123);
}
.twitter:hover{
    color: #00acee;
}
.github:hover{
    color:  #171515;
}
.linkedin:hover{
    color: #0e76a8
}
