<main>
    <header>
        <img src="../../../../assets/images/arg-programa.png" alt="Argentina Programa" />

        <nav>
            <a href="https://www.facebook.com/pato.alloco/" target="_blank"><i class="fa-brands fa-facebook-square facebook"></i></a>
            <a href="https://twitter.com/PatoAlloco" target="_blank"><i class="fa-brands fa-twitter twitter"></i></a>
            <a href="https://www.instagram.com/patoalloco/" target="_blank"><i class="fa-brands fa-instagram instagram"></i></a>
            <a href="https://github.com/PatoAlloco" target="_blank"><i class="fa-brands fa-github github"></i></a>
            <a href="https://www.linkedin.com/in/patricio-oscar-alloco-b87659218//" target="_blank"><i class="fa-brands fa-linkedin linkedin"></i></a>
            <button type="button" class="btn btn-primary btn-sm" (click)="cerrarSesion()">Cerrar sesión</button>
        </nav>
    </header>
</main>