<main>
    <header>
        <img src="../../../../assets/images/arg-programa.png" alt="Argentina Programa" />

        <nav>
            <a href="#"><i class="fa-brands fa-facebook-square"></i></a>
            <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a>
            <button type="button" class="btn btn-primary btn-sm">Cerrar sesión</button>
        </nav>
    </header>
</main>