<main>
    <section class="experiencia-laboral">
        <div class="experiencia-titulo">
            <h5>Educación</h5>
            <i (click)="irAPantallaAgregar()" class="button-icon-add fa-solid fa-circle-plus"></i>
        </div>
        <ul>
            <li *ngFor="let estudio of usuario.estudios" class="trabajo">
                <div class="experiencia-titulo">
                    <i class="fa-solid fa-graduation-cap"></i>
                    <div>
                        <span><strong>{{estudio.instituto.toUpperCase()}}</strong></span>
                        <p>{{estudio.titulo}}</p>
                        <p>{{estudio.inicio | date:'y'}} - {{estudio.fin ? (estudio.fin | date:'y') : "Actualidad"}}</p>
                    </div>
                </div>
                <div>
                    <i (click)="eliminarEducacion(estudio.id)" class="button-icon-remove fa-solid fa-circle-xmark "></i>
                    <i (click)="irAPantallaEditar(estudio.id)" class="button-icon-edit fa-solid fa-pen-to-square"></i>
                </div>
            </li>
            <hr>
        </ul>
    </section>
</main>